aiofiles==24.1.0
aiogram==3.22.0
aiohttp==3.12.15
asyncpg==0.30.0
certifi==2025.8.3
charset-normalizer==3.4.3
colorama==0.4.6
dotenv==0.9.9
frozenlist==1.7.0
greenlet==3.2.4
groq==0.32.0
httpx==0.28.1
idna==3.10
jiter==0.11.0
magic-filter==1.0.12
multidict==6.6.4
openai==2.3.0
propcache==0.3.2
pydantic==2.11.9
python-dotenv==1.1.1
requests==2.32.5
SQLAlchemy==2.0.43
tqdm==4.67.1
urllib3==2.5.0
yarl==1.20.1